---
import * as page from ".cms/content/landing.md";
import Layout from "src/layouts/Layout.astro";
---

<Layout>
	<main>
		<h1>Welcome to {page.frontmatter["title"]}</h1>
		<p>{page.frontmatter["ticker"]}</p>
	</main>
</Layout>
