<footer class="container">
	<small>
		Wir ❤️ Freie Software. <a
			href="https://www.gnu.org/philosophy/free-software-even-more-important.de.html"
			target="_blank">
			Was bedeutet das?
		</a> •
		<a href="https://github.com/3x071c/lsg-musin" target="_blank">
			Quellcode
		</a> &copy; Eure LSG Admins • Diese Seite hat keinen nervigen Cookie-Banner!
	</small>
</footer>
