---
import "@picocss/pico/css/pico.min.css";

const { title } = Astro.props as Props;

export interface Props {
	title?: string;
}
---

<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LSG{title && ` | ${title}`}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
